<nz-form nz-form [formGroup]="validateForm" style="padding-bottom: 30px">
  <div nz-row class="row-title">
    <div nz-col [nzMd]="5">
      <span class="title">Bộ lọc</span>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="DateStart" nzRequired>
          <span>Từ ngày</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback>
          <input nz-input type="date" max="9999-12-31" formControlName="DateStart" (change)="selectDayStart()" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="DateEnd" nzRequired>
          <span>Đến ngày</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback>
          <input nz-input type="date" max="9999-12-31" formControlName="DateEnd" (change)="selectDayEnd()" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-form>

<div style="margin: 10px">
  <button nz-button nzType="primary" (click)="onClick()">
    <span nz-icon nzType="search"></span>
    Hiển thị dữ liệu
  </button>
  <button nz-button nzType="primary" (click)="dowloadReportNOC7()">
    <span nz-icon nzType="download"></span>
    Xuất báo cáo phụ lục 7</button
  >
</div>

<div class="table-bct">
  <table>
    <thead>
      <th>STT</th>
      <th>Quận</th>
      <th>Loại nhà</th>
      <th>Tỉnh trạng nhà</th>
      <th>Số hộ</th>
      <th>Trích nộp tiền về Sở</th>
      <th>Chưa Trích nộp tiền về Sở</th>
      <th>Trích nộp thuế VAT</th>
      <th>Ghi chú</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let itemdata of data; let i = index">
        <ng-container *ngFor="let item1 of itemdata.noc7ByDistrict; let firstChild = first; let lastChild = last">
          <ng-container *ngFor="let itemChild of item1.noc7ByTypeBlockID; let first = first">
            <ng-container *ngFor="let items of itemChild.noc7ByTypeUsageStatus; let first1 = first">
              <tr *ngFor="let item of items.Noc7byCode; let fst = first">
                <td
                  *ngIf="firstChild && first && first1 && fst && item.Index != -1"
                  [attr.rowspan]="itemdata.Index - 1"
                  class="text-center"
                  >{{ i + 1 }}</td
                >
                <td *ngIf="item.Index == -1" colspan="2" class="text-center">Tổng</td>
                <td
                  *ngIf="firstChild && first && first1 && fst && item.Index != -1"
                  [attr.rowspan]="itemdata.Index - 1"
                  class="text-center"
                  class="text-center"
                  >{{ item.DistrictName }}</td
                >
                <td *ngIf="first" [attr.rowspan]="item1.noc7ByTypeBlockID.length" class="text-center">{{ item.TypeBlockName }}</td>
                <td class="text-center">{{ genUsageStatusName(item.UsageStatus) }}</td>
                <td class="text-center">{{ item.Quantity }}</td>
                <td class="text-center">{{ item.Price1 | number: '0.0-2':'de-DE' }}</td>
                <td class="text-center">{{ item.Price2 | number: '0.0-2':'de-DE' }}</td>
                <td class="text-center">{{ item.VATPrice | number: '0.0-2':'de-DE' }}</td>
                <td class="text-center"></td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
