<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="16">
    <div class="card-body">
      <st
        #tableItemRef
        [data]="tdcPriceRentOfficials"
        [columns]="columnsItem"
        [size]="'small'"
        [loading]="loading"
        [widthMode]="{ type: 'strict' }"
        [page]="{ front: false }"
      >
        <ng-template st-row="IngrePriceHeader" type="title"
          ><span class="danger-star">*</span>&nbsp;Thành phần giá bán cấu thành
        </ng-template>
        <ng-template st-row="AreaHeader" type="title"><span class="danger-star">*</span>&nbsp;Diện tích </ng-template>
        <ng-template st-row="PriceHeader" type="title"><span class="danger-star">*</span>&nbsp;Đơn giá </ng-template>
        <ng-template st-row="TotalHeader" type="title"><span class="danger-star">*</span>&nbsp;Thành Tiền </ng-template>
        <ng-template st-row="IngredientsPriceId" let-item let-index="index">
          <ng-container *ngIf="!item.edit">{{ item.IngrePriceName }}</ng-container>
        </ng-template>
        <ng-template st-row="Area" let-item let-index="index">
          <input
            type="text"
            nz-input
            [(ngModel)]="item.Area"
            [ngClass]="item.submit && !item.Area ? 'danger-st-row' : ''"
            (ngModelChange)="ChangeArea(index, $event)"
            [ngModelOptions]="{ standalone: true }"
            currencyMask
            [options]="{ precision: 2 }"
          />
        </ng-template>
        <ng-template st-row="Price" let-item let-index="index">
          <input
            type="text"
            nz-input
            [(ngModel)]="item.Price"
            [ngClass]="item.submit && !item.Price ? 'danger-st-row' : ''"
            (ngModelChange)="ChangePrice(index, $event)"
            [ngModelOptions]="{ standalone: true }"
            style="width: 100px"
            currencyMask
          />
        </ng-template>
        <ng-template st-row="Total" let-item let-index="index">
          <input
            type="text"
            nz-input
            [(ngModel)]="item.Total"
            [ngClass]="item.submit && !item.Total ? 'danger-st-row' : ''"
            (ngModelChange)="tableItemRef.setRow(index, { Total: $event })"
            [ngModelOptions]="{ standalone: true }"
            nzDisabled="true"
            currencyMask
            style="width: 100px"
          />
        </ng-template>
      </st>
    </div>
  </div>
</div>
