<div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
        <nz-form-item>
            <nz-form-label [nzSpan]="24">Trong đó phần nhà</nz-form-label>
        </nz-form-item>
    </div>
</div>
<div nz-row>
    <div nz-span>
        <a nz-button nzType="link" (click)="addRow()">
            <span nz-icon nzType="plus-circle"></span>
            Thêm chi tiết căn nhà
        </a>
    </div>
</div>
<div nz-row>
    <div nz-span>
        <div class="card-body">
            <st #tableItemRef [data]="data" (change)="tableItemRefChange($event)" [columns]="columnsItem"
                [size]="'small'" [widthMode]="{ type: 'strict' }" [page]="{ front: false }">
                <ng-template st-row="levelTitle" type="title"><span class="danger-star">*</span>&nbsp;Cấp nhà
                </ng-template>
                <ng-template st-row="floorTitle" type="title"><span class="danger-star">*</span>&nbsp;Tầng của căn nhà
                </ng-template>
                <ng-template st-row="areaTitle" type="title"><span class="danger-star">*</span>&nbsp;Thông tin chi tiết
                    tầng cụ thể </ng-template>
                <ng-template st-row="totalAreaDetailFloorTitle" type="title"><span class="danger-star">*</span>&nbsp;DT
                    sử dụng (m2)
                </ng-template>
                <ng-template st-row="privateAreaTitle" type="title"><span class="danger-star">*</span>&nbsp;DT sử dụng
                    riêng (m2)
                </ng-template>
                <ng-template st-row="generalAreaTitle" type="title"><span class="danger-star">*</span>&nbsp;DT sử dụng
                    chung phân bổ (m2)
                </ng-template>
                <ng-template st-row="yardAreaTitle" type="title"><span class="danger-star">*</span>&nbsp;DT sân chung
                    phân bổ (m2)
                </ng-template>
                <ng-template st-row="timeTitle" type="title"><span class="danger-star">*</span>&nbsp;Thời điểm bố trí
                </ng-template>

                <ng-template st-row="levelTpl" let-item let-index="index">
                    <nz-select nzAllowClear [nzShowSearch]="true" class="width-100"
                        [ngClass]="item.submit && !item.Level ? 'danger-st-row' : ''" [ngModel]="item.Level"
                        (ngModelChange)="tableItemRef.setRow(index, { Level: $event })"
                        [ngModelOptions]="{ standalone: true }" [disabled]="!item.edit">
                        <nz-option
                            *ngFor="let i of level_data | keyvalue | filterConstByList: levelblocks; let idx = index"
                            [nzLabel]="i.value" [nzValue]="i.key"> </nz-option>
                    </nz-select>
                </ng-template>
                <ng-template st-row="floorTpl" let-item let-index="index">
                    <nz-select nzAllowClear [nzShowSearch]="true" class="width-100"
                        [ngClass]="item.submit && !item.FloorId ? 'danger-st-row' : ''" [ngModel]="item.FloorId"
                        (ngModelChange)="tableItemRef.setRow(index, { FloorId: $event })"
                        [ngModelOptions]="{ standalone: true }" [disabled]="!item.edit">
                        <nz-option *ngFor="let i of floor_data; let idx = index" [nzLabel]="i.Name" [nzValue]="i.Id">
                        </nz-option>
                    </nz-select>
                </ng-template>

                <ng-template st-row="areaTpl" let-item let-index="index">
                    <nz-select nzAllowClear [nzShowSearch]="true" class="width-100"
                        [ngClass]="item.submit && !item.AreaId ? 'danger-st-row' : ''" [ngModel]="item.AreaId"
                        (ngModelChange)="tableItemRef.setRow(index, { AreaId: $event })"
                        [ngModelOptions]="{ standalone: true }" [disabled]="!item.edit">
                        <nz-option *ngFor="let i of area_data | filterAreaByFloor: item.FloorId; let idx = index"
                            [nzLabel]="i.Name" [nzValue]="i.Id">
                        </nz-option>
                    </nz-select>
                </ng-template>
                <ng-template st-row="totalAreaDetailFloorTpl" let-item let-index="index">
                    <ng-container *ngIf="!item.edit">{{ item.TotalAreaDetailFloor }}</ng-container>
                </ng-template>
                <ng-template st-row="privateAreaTpl" let-item let-index="index">
                    <input *ngIf="item.edit" type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        [ngClass]="item.submit && (item.PrivateArea==undefined || item.PrivateArea=='') ? 'danger-st-row' : ''"
                        [ngModel]="item.PrivateArea"
                        (ngModelChange)="tableItemRef.setRow(index, { PrivateArea: $event })"
                        [ngModelOptions]="{ standalone: true }" />
                    <ng-container *ngIf="!item.edit">{{ item.PrivateArea | number: '0.0-2': 'de-DE' }}</ng-container>
                </ng-template>
                <ng-template st-row="generalAreaTpl" let-item let-index="index">
                    <input *ngIf="item.edit" type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        [ngClass]="item.submit && (item.GeneralArea==undefined || item.GeneralArea=='') ? 'danger-st-row' : ''"
                        [ngModel]="item.GeneralArea"
                        (ngModelChange)="tableItemRef.setRow(index, { GeneralArea: $event })"
                        [ngModelOptions]="{ standalone: true }" />
                    <ng-container *ngIf="!item.edit">{{ item.GeneralArea | number: '0.0-2': 'de-DE' }}</ng-container>
                </ng-template>
                <ng-template st-row="yardAreaTpl" let-item let-index="index">
                    <input *ngIf="item.edit" type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        [ngClass]="item.submit && (item.YardArea==undefined || item.YardArea=='') ? 'danger-st-row' : ''"
                        [ngModel]="item.YardArea" (ngModelChange)="tableItemRef.setRow(index, { YardArea: $event })"
                        [ngModelOptions]="{ standalone: true }" />
                    <ng-container *ngIf="!item.edit">{{ item.YardArea | number: '0.0-2': 'de-DE' }}</ng-container>
                </ng-template>
                <ng-template st-row="timeTpl" let-item let-index="index">
                    <input *ngIf="item.edit"
                        [ngClass]="item.submit && (item.DisposeTime == undefined || item.DisposeTime=='') ? 'danger-st-row' : ''"
                        nz-input type="date" max="9999-12-31" [ngModel]="item.DisposeTime"
                        (ngModelChange)="tableItemRef.setRow(index, { DisposeTime: $event })"
                        [ngModelOptions]="{ standalone: true }" />
                    <ng-container *ngIf="!item.edit">{{ item.DisposeTime | date: 'dd/MM/yyyy' }}</ng-container>
                </ng-template>
            </st>
        </div>
    </div>
</div>