<div class="drawer-footer">
  <button nz-button [nzType]="'default'" (click)="close()">
    <i nz-icon nzType="stop" nzTheme="outline"></i>
    Đóng
  </button>
  <button nz-button [nzType]="'primary'" [disabled]="!validateForm.valid || loading" (click)="submitForm()">
    <i nz-icon nzType="save" nzTheme="outline"></i>
    Lưu
  </button>
</div>

<nz-form nz-form [formGroup]="validateForm" style="padding-bottom: 30px">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="Code">Mã định danh</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input formControlName="Code" class="width-60" Disabled="true" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="CustomerName">Tên khách hàng</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input formControlName="CustomerName" class="width-60" Disabled="true" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="Phone">Số điện thoại</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input formControlName="Phone" class="width-60" Disabled="true" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="Address">Địa chỉ khách hàng</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input formControlName="Address" class="width-60" Disabled="true" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-form>

<div style="margin: 20px; float: right">
  <label *ngIf="isCheck == false" style="color: rgb(93, 219, 93); font-weight: bold; margin: 10px"
    >Số dư treo : {{ validateForm.value.SurplusBalance | number: '0.0-2':'de-DE' }} VNĐ</label
  >
  <label *ngIf="isCheck == true" style="color: rgb(93, 219, 93); font-weight: bold; margin: 10px"
    >Số dư treo : {{ this.SurplusBalance | number: '0.0-2':'de-DE' }} VNĐ</label
  >
  <button nz-button [nzType]="'primary'" (click)="Payment()">Phiếu thu</button>

  <button nz-button [nzType]="'primary'" (click)="Receipts()">Phiếu chi</button>
</div>

<div style="margin: 20px; float: left">
  <button nz-button [nzType]="'primary'" (click)="dowload()">Xuất biểu mẫu công nợ</button>
  <button nz-button [nzType]="'primary'" (click)="ImportDebt()">Thêm dữ liệu công nợ</button>
</div>

<div class="table-bct" style="margin-top: 75px">
  <ng-container *ngFor="let itemData of dataTable; let z = index">
    <div style="margin-top: 5px">
      <h3 *ngIf="itemData.Type == 3">
        <span *ngIf="itemData.TypeRentFile == 1">Hợp đồng</span>
        <span *ngIf="itemData.TypeRentFile == 2">Phụ lục hợp đồng</span>
        {{ z + 1 }}</h3>
      <h3 *ngIf="itemData.Type == 1">Dữ liệu excel {{ z + 1 }}</h3>
      <h3 *ngIf="itemData.Type == 2">Phiếu truy thu {{ z + 1 }}</h3>
    </div>

    <table>
      <thead>
        <th>Số xác nhận</th>
        <th>Từ tháng</th>
        <th>Đến tháng</th>
        <th>Số tiền</th>
        <th>Đã nộp</th>
        <th>Người thực hiện</th>
        <th>Ngày thực hiện</th>
        <th>Hoạt động gần nhất</th>
        <th>Số tiền còn nợ</th>
        <th>Số tiền trước thuế</th>
        <th>Tiền VAT</th>
        <th>Đã nộp về sở</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of itemData.groupDataDebtsByDates; let j = index">
          <ng-container *ngFor="let items of item.groupDebtTables; let i = index; let firstChild = first">
            <tr>
              <td *ngIf="firstChild" class="text-center">{{ items.SXN }}</td>
              <td *ngIf="firstChild" class="text-center">{{ item.DateStart | date: 'dd/MM/yyyy' }}</td>
              <td *ngIf="firstChild" class="text-center">{{ item.DateEnd | date: 'dd/MM/yyyy' }}</td>
              <td *ngIf="firstChild" style="text-align: right">{{ item.Price | number: '0.0-0':'de-DE' }}</td>
              <td *ngIf="firstChild && isCheck == false" class="text-center">
                <input
                  *ngIf="item.Price <= validateForm.value.SurplusBalance || item.Check"
                  type="checkbox"
                  (click)="check(z, j, i)"
                  [checked]="item.Check"
                  [disabled]="!role.ViewOrActionSpecial && item.Check"
                />
                <input *ngIf="item.Price > validateForm.value.SurplusBalance && !item.Check" disabled type="checkbox" />
              </td>
              <td *ngIf="firstChild && isCheck == true" class="text-center">
                <input
                  *ngIf="item.Price <= this.SurplusBalance || item.Check"
                  type="checkbox"
                  (click)="check(z, j, i)"
                  [checked]="item.Check"
                  [disabled]="!role.ViewOrActionSpecial && item.Check"
                />
                <input *ngIf="item.Price > this.SurplusBalance && !item.Check" disabled type="checkbox" />
              </td>
              <td *ngIf="firstChild" class="text-center">{{ item.Executor }}</td>
              <td *ngIf="firstChild" class="text-center">{{ item.Date | date: 'dd/MM/yyyy' }}</td>
              <td *ngIf="firstChild" class="text-center">{{ item.NearestActivities }}</td>
              <td *ngIf="firstChild" style="text-align: right">{{ item.PriceDiff | number: '0.0-0':'de-DE' }}</td>
              <td *ngIf="firstChild" style="text-align: right">{{ item.AmountExclude | number: '0.0-0':'de-DE' }}</td>
              <td *ngIf="firstChild" style="text-align: right">{{ item.VATPrice | number: '0.0-0':'de-DE' }}</td>
              <td *ngIf="firstChild" class="text-center">
                <input
                  *ngIf="item.PriceDiff == 0"
                  type="checkbox"
                  (click)="CheckPayDepartment(z, j, i)"
                  [checked]="item.CheckPayDepartment"
                />
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </ng-container>
</div>

<div style="margin-top: 20px">
  <div>
    <label *ngIf="isCheck == false" style="font-weight: bold">Tổng : {{ validateForm.value.Total | number: '0.0-2':'de-DE' }}</label>
    <label *ngIf="isCheck == true" style="font-weight: bold">Tổng : {{ this.Total | number: '0.0-2':'de-DE' }}</label>
  </div>
  <div>
    <label *ngIf="isCheck == false" style="font-weight: bold">Đã nộp : {{ validateForm.value.Paid | number: '0.0-2':'de-DE' }} </label>
    <label *ngIf="isCheck == true" style="font-weight: bold">Đã nộp : {{ this.Paid | number: '0.0-2':'de-DE' }}</label>
  </div>
  <div>
    <label *ngIf="isCheck == false" style="font-weight: bold">Còn nợ : {{ validateForm.value.Diff | number: '0.0-2':'de-DE' }} </label>
    <label *ngIf="isCheck == true" style="font-weight: bold">Còn nợ : {{ this.Diff | number: '0.0-2':'de-DE' }}</label>
  </div>
</div>
