<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="padding-bottom: 30px;">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="DecreeType1Id" nzRequired>Nghị định áp dụng cho biên
                    bản</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa chọn Nghị định áp dụng cho biên bản!">
                    <nz-select nzAllowClear formControlName="DecreeType1Id" name="DecreeType1Id" id="DecreeType1Id"
                        nzPlaceHolder="" [nzShowSearch]="true">
                        <nz-option *ngFor="let i of decree_type1_data | keyvalue; let idx = index" [nzLabel]="i.value"
                            [nzValue]="i.key">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="DecreeType2Id">Văn bản pháp luật liên
                    quan</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <nz-select nzAllowClear formControlName="DecreeType2Id" name="DecreeType2Id" id="DecreeType2Id"
                        nzPlaceHolder="" [nzShowSearch]="true">
                        <nz-option *ngFor="let i of decree_type2_data; let idx = index" [nzLabel]="i.Code"
                            [nzValue]="i.Id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="Name" nzRequired>Áp dụng theo</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập thông tin Áp dụng theo!">
                    <input nz-input formControlName="Name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="DoApply">Ngày áp dụng</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <input nz-input type="date" max="9999-12-31" formControlName="DoApply" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="LocationValue1" nzRequired>Vị trí 1 - Mặt tiền đường</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Vị trí 1 - Mặt tiền đường!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="LocationValue1" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="LocationValue2" nzRequired>Vị trí 2</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Vị trí 2!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="LocationValue2" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="LocationValue3" nzRequired>Vị trí 3</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Vị trí 3!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="LocationValue3" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="LocationValue4" nzRequired>Vị trí 4</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Vị trí 4!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="LocationValue4" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row class="row-title">
        <div nz-col [nzMd]="3">
            <span class="title">Hẻm cấp 1</span>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="AlleyValue1" nzRequired>Hẻm vị trí 1</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Hẻm vị trí 1!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="AlleyValue1" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="AlleyValue2" nzRequired>Hẻm vị trí 2</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Hẻm vị trí 2!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="AlleyValue2" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="AlleyValue3" nzRequired>Hẻm vị trí 3</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Hẻm vị trí 3!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="AlleyValue3" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="AlleyValue4" nzRequired>Hẻm vị trí 4</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Hẻm vị trí 4!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="AlleyValue4" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="AlleyLevel2">Hẻm cấp 2</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="AlleyLevel2" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="AlleyOther">Hẻm cấp còn lại</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="AlleyOther" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="AlleyLand">Hẻm trải đất</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="AlleyLand" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row class="row-title">
        <div nz-col [nzMd]="3">
            <span class="title">Độ sâu vị trí</span>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="PositionDeep">Từ ... trở lên (m)</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="PositionDeep" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="LandPriceRefinement">Giá đất tinh giảm (%)</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="LandPriceRefinement" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>

<div class="drawer-footer">
    <button nz-button [nzType]="'default'" (click)="close()">
        <i nz-icon nzType="stop" nzTheme="outline"></i>
        Đóng </button>
    <button nz-button [nzType]="'primary'" [disabled]="!validateForm.valid || loading" (click)="submitForm()">
        <i nz-icon nzType="save" nzTheme="outline"></i>
        Lưu
    </button>
</div>