<ng-container [formGroup]="validateForm">
    <div nz-row class="row-title">
        <div nz-col [nzMd]="3">
            <span class="title">Địa chỉ căn nhà</span>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="Pdw" nzRequired>Tỉnh (Tp) /Quận (huyện) /Phường (xã)
                </nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback
                    nzErrorTip="Chưa chọn Tỉnh (Tp) /Quận (huyện) /Phường (xã)!">
                    <nz-cascader [nzShowSearch]="true" formControlName="Pdw" name="Pdw" id="Pdw" nzPlaceHolder=""
                        [nzOptions]="pdw_data" (nzSelectionChange)="resetLaneValue()"
                        (ngModelChange)="changePdw($event)">
                    </nz-cascader>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="Lane" nzRequired>Đường</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa chọn Đường!">
                    <nz-select nzAllowClear formControlName="Lane" name="Lane" id="Lane" nzPlaceHolder=""
                        [nzShowSearch]="true">
                        <nz-option *ngFor="let i of lane_data; let idx = index" [nzLabel]="i.Name" [nzValue]="i.Id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="Address" nzRequired>Căn nhà số</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập thông tin Số căn nhà!">
                    <input nz-input formControlName="Address" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</ng-container>