<nz-form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="padding-bottom: 30px">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="PaymentDate" nzRequired>
          <span>Ngày Thanh Toán Thực Tế</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback>
          <input nz-input type="date" max="9999-12-31" formControlName="PaymentDate" (change)="selectDay()" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="AmountPaid" nzRequired>Số Tiền Thanh Toán</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input
            type="text"
            currencyMask
            nz-input
            formControlName="AmountPaid"
            [ngModel]="valueMax"
            (ngModelChange)="calcPayCount($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="PricePublic"></nz-form-label>
        <label nz-checkbox formControlName="PricePublic">Nộp cho công ích</label>
      </nz-form-item>
    </div>
  </div>
</nz-form>

<div>
  <table class="table-bct" #groupingTable Data="dataTable">
    <thead>
      <tr>
        <th rowspan="2">Lần Thanh Toán</th>
        <th rowspan="2">Ngày thanh toán theo quy định</th>
        <th rowspan="2">Ngày thanh toán dự kiến</th>
        <th rowspan="2">Ngày thanh toán thực tế</th>
        <th rowspan="2">Thời gian tính lãi theo ngày</th>
        <th rowspan="2">Lãi suất tính theo ngày</th>

        <th colspan="3">Số tiền phải trả (VNĐ)</th>
        <th rowspan="2">Số tiền phải thanh toán </th>
      </tr>
      <tr>
        <th rowspan="1">Số tiền phải trả từng tháng </th>
        <th rowspan="1"> Số tiền lãi phát sinh do chậm thanh toán </th>
        <th rowspan="1">Số tiền đến kỳ phải thanh toán</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of dataTable; let index = index; let first = first">
        <tr *ngFor="let childItem of item.tdcPriceRentExcels; let firstChild = first; let lastChild = last">
          <td class="text-center">{{ childItem.TypeRow == 4 ? '' : childItem.PaymentTimes }}</td>
          <td class="text-center">{{ childItem.TypeRow == 4 ? 'Nợ cũ' : (childItem.PaymentDatePrescribed | date: 'dd/MM/yyyy') }}</td>
          <td class="text-center"></td>
          <td class="text-center">{{ childItem.TypeRow == 2 ? '' : (childItem.ExpectedPaymentDate | date: 'dd/MM/yyyy') }}</td>
          <td class="text-center">{{ childItem.DailyInterest }}</td>
          <td class="text-center">{{ childItem.DailyInterestRate }}</td>
          <td style="text-align: right">{{ childItem.UnitPay | number: '0.0-2':'de-DE' }}</td>
          <td style="text-align: right">{{ childItem.PriceEarnings | number: '0.0-2':'de-DE' }}</td>
          <td style="text-align: right">{{ childItem.PricePaymentPeriod | number: '0.0-2':'de-DE' }}</td>
          <td *ngIf="firstChild" [attr.rowspan]="item.tdcPriceRentExcels.length" style="text-align: right">{{
            childItem.TypeRow == 2 ? '' : (item.Pay | number: '0.0-2':'de-DE')
          }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div style="float: right; margin: 20px">
  <button nz-button [nzType]="'default'" (click)="close()">
    <i nz-icon nzType="stop" nzTheme="outline"></i>
    Đóng
  </button>
  <button nz-button [nzType]="'primary'" [disabled]="!validateForm.valid || loading" (click)="submitForm()">
    <i nz-icon nzType="save" nzTheme="outline"></i>
    Lưu
  </button>
</div>

<div class="card-custom" style="margin-top: 50px; width: 100%">
  <div class="card-header">
    <label style="color: red; font-weight: 300">LỊCH SỬ THANH TOÁN</label>
  </div>
  <div class="card-body">
    <st
      #tableRef
      [data]="data"
      [columns]="columns"
      [size]="'small'"
      [loading]="loading"
      [ps]="paging.page_size"
      [total]="paging.item_count"
      [widthMode]="{ type: 'strict', strictBehavior: 'truncate' }"
      [page]="{ front: false }"
      (change)="tableItemRefChange()"
    >
      <ng-template st-row="AmountPaidHeader" type="title"><span class="danger-star"></span>Số Tiền</ng-template>
      <ng-template st-row="AmountPaid" let-item let-index="index">
        <ng-container>{{ item.AmountPaid | number: '0.0-2':'de-DE' }}</ng-container>
      </ng-template>
    </st>
  </div>
</div>
