<ng-container [formGroup]="validateForm">
    <div nz-row class="row-title mt-lg">
        <div nz-col [nzMd]="6">
            <span class="title">Thông tin diện tích đất ở</span>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="LandscapePrivateAreaValue">Diện tích đất sử dụng
                    riêng</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <div class="disabled-form-control-info"></div>
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="LandscapePrivateAreaValue" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="LandscapeAreaValue" nzRequired>Diện tích đất ở</nz-form-label>
                <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Diện tích đất ở!">
                    <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
                        formControlName="LandscapeAreaValue" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="16">
            <app-apartment-apartment-land-detail #apartmentLandDetailComponent
                [data]="validateForm.value.apartmentLandDetails"
                [typeApartmentLandDetail]="typeApartmentLandDetailEnum.BLOCK"
                [typeReportApply]="validateForm.value.TypeReportApply"
                (eventEmitter)="changeApartmentLandDetail($event)"></app-apartment-apartment-land-detail>
        </div>
    </div>
</ng-container>