<div nz-row [nzGutter]="24">
  <div nz-col [nzSpan]="24">
    <div class="card-body">
      <st
        #tableItemRef
        [data]="tdcPriceOneSellOfficials"
        [columns]="columnsItem"
        [size]="'small'"
        [loading]="loading"
        [widthMode]="{ type: 'strict' }"
        [page]="{ front: false }"
        (change)="tableChange()"
      >
        <ng-template st-row="IngrePriceHeader" type="title"
          ><span class="danger-star">*</span>&nbsp;Thành phần giá bán cấu thành
        </ng-template>
        <ng-template st-row="AreaHeader" type="title"><span class="danger-star">*</span>&nbsp;Diện tích </ng-template>
        <ng-template st-row="PriceHeader" type="title"><span class="danger-star">*</span>&nbsp;Đơn giá </ng-template>
        <ng-template st-row="TotalHeader" type="title"><span class="danger-star">*</span>&nbsp;Thành Tiền </ng-template>
        <ng-template st-row="IngredientsPriceId" let-item let-index="index">
          <ng-container *ngIf="!item.edit">{{ item.IngrePriceName }}</ng-container>
        </ng-template>
        <ng-template st-row="Area" let-item let-index="index">
          <input
            nz-input
            type="text" 
            currencyMask [options]="{ precision: 2 }"
            [ngModel]="item.Area"
            [ngClass]="item.submit && !item.Area ? 'danger-st-row' : ''"
            (ngModelChange)="ChangeArea(index, $event)"
            [ngModelOptions]="{ standalone: true }"
          />
        </ng-template>
        <ng-template st-row="Price" let-item let-index="index">
          <input
            nz-input
            type="text" 
            currencyMask [options]="{ precision: 2 }"
            [ngModel]="item.Price "
            [ngClass]="item.submit && !item.Price ? 'danger-st-row' : ''"
            (ngModelChange)="ChangePrice(index, $event)"
            [ngModelOptions]="{ standalone: true }"
          />
        </ng-template>
        <ng-template st-row="Total" let-item let-index="index">
          <input
            nz-input
            type="text" 
            currencyMask [options]="{ precision: 2 }"
            disabled = "true"
            [ngModel]="item.Total "
            [ngClass]="item.submit && !item.Total ? 'danger-st-row' : ''"
            (ngModelChange)="tableItemRef.setRow(index, { Total: $event })"
            [ngModelOptions]="{ standalone: true }"
          />
        </ng-template>
      </st>
    </div>
  </div>
</div>
