<nz-table #basicTable nzBordered="true" nzShowPagination="false" [nzData]="listOfData">
    <thead>
        <tr>
            <th nzWidth="15%" class="text-center">Tầng</th>
            <th nzWidth="20%" class="text-center">Thông tin chi tiết tầng cụ thể</th>
            <th nzWidth="15%" class="text-center">Nhà nhiều hộ (m2)</th>
            <th nzWidth="15%" class="text-center">Nhà riêng lẻ (m2)</th>
            <th nzWidth="15%" class="text-center" *ngIf="checkDecree(DecreeEnum.ND_99)">
                <span>Hệ số các tầng</span>
                <br>
                <span>theo NĐ 99/2015</span>
            </th>
            <th nzWidth="15%" class="text-center" *ngIf="checkDecree(DecreeEnum.ND_34)">
                <span>Hệ số các tầng</span>
                <br>
                <span>theo NĐ 34/2013</span>
            </th>
            <th nzWidth="15%" class="text-center" *ngIf="checkDecree(DecreeEnum.ND_61)">
                <span>Hệ số các tầng</span>
                <br>
                <span>theo NĐ 61/CP</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of basicTable.data; let index_lv1 = index">
            <tr *ngFor="let data_rowItemLv2 of data.rowItemLv2; let index_lv2 = index; let first = first">
                <td class="text-center">
                    <span *ngIf="first">{{ data.floorName }}</span>
                </td>
                <td class="text-center">{{ data_rowItemLv2.areaName }}</td>
                <td class="text-center">
                    {{ data_rowItemLv2.generalArea | number: '0.0-2':'de-DE'}}
                </td>
                <td class="text-center">
                    {{ data_rowItemLv2.privateArea | number: '0.0-2':'de-DE'}}
                </td>
                <td class="text-center" *ngIf="checkDecree(DecreeEnum.ND_99)">
                    {{ data_rowItemLv2.coefficient_99 | number: '0.0-2':'de-DE'}}
                </td>
                <td class="text-center" *ngIf="checkDecree(DecreeEnum.ND_34)">
                    {{ data_rowItemLv2.coefficient_34 | number: '0.0-2':'de-DE'}}
                </td>
                <td class="text-center" *ngIf="checkDecree(DecreeEnum.ND_61)">
                    {{ data_rowItemLv2.coefficient_61 | number: '0.0-2':'de-DE'}}
                </td>
            </tr>
        </ng-container>
    </tbody>
</nz-table>