<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="padding-bottom: 30px">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Loại danh mục tin tức</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Tiêu đề bài viết!">
            <input type="text"  nz-input  formControlName="TypeNews" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Mã danh mục tin tức</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Tiêu đề bài viết!">
            <input type="text"  nz-input formControlName="Code"  />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired>Mô tả</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Tiêu đề bài viết!">
            <input type="text"  nz-input formControlName="Note"  />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <div>
    <div class="avatar__title">Ảnh danh mục loại tin tức</div>
    <nz-form-control [nzSpan]="14">
      <nz-upload
        class="avatar-uploader img-news"
        [nzAccept]="'image/png,image/jpeg,image/gif,image/bmp'"
        nzName="Files"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload"
      >
        <ng-container *ngIf="!validateForm.value.FileImg">
          <i class="upload-icon" nz-icon [nzType]="'upload'"></i>
          <div class="ant-upload-text">&nbsp;&nbsp;&nbsp;Tải lên</div>
        </ng-container>
        <img *ngIf="validateForm.value.FileImg" [src]="srcImg + validateForm.value.FileImg" class="img-upload-drawer" />
      </nz-upload>
      <div *ngIf="validateForm.value.FileImg" class="btn-remove-img btn-remove" style="color: red" (click)="validateForm.value.FileImg = undefined">
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
      </div>
    </nz-form-control>
  </div>
  
  <div class="drawer-footer">
    <button nz-button [nzType]="'default'" (click)="close()">
      <i nz-icon nzType="stop" nzTheme="outline"></i>
      Đóng
    </button>
    <button nz-button [nzType]="'primary'" [disabled]="!validateForm.valid || loading" (click)="submitForm()">
      <i nz-icon nzType="save" nzTheme="outline"></i>
      Lưu
    </button>
  </div>