<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="padding-bottom: 30px">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="NameFile" nzRequired>
            <span>Tên thư mục file</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập tên thư mục file">
            <input nz-input type="NameFile" formControlName="NameFile" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="AttachedFiles">file đính kèm </nz-form-label>
            <nz-upload [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload">
                <button nz-button type="button">
                    <span nz-icon nzType="upload"></span>
                    Tải file đính kèm
                </button>
            </nz-upload>
            <a *ngIf="validateForm.value.AttachedFiles" href="javascript:void(0)" (click)="downloadFile(validateForm.value.AttachedFiles)">{{
                validateForm.value.AttachedFiles }}</a>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="Note">Ghi chú</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <textarea type="Note" formControlName="Note" nz-input rows="4">
            </textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  
  <div style="float: right; margin: 20px">
    <button nz-button [nzType]="'primary'" [disabled]="!validateForm.valid || loading" (click)="submitForm()">
      <i nz-icon nzType="save" nzTheme="outline"></i>
      Thêm mới
    </button>
  </div>
  
  <div class="card-custom" style="margin-top: 50px; width: 100%">
    <div class="card-body">
      <st
        #tableRef
        [data]="data"
        [columns]="columns"
        [size]="'small'"
        [loading]="loading"
        [ps]="paging.page_size"
        [total]="paging.item_count"
        [widthMode]="{ type: 'strict', strictBehavior: 'truncate' }"
        [page]="{ front: false }"
        (change)="tableRefChange($event)"
      >
      <ng-template st-row="attachedfiles-column" let-item let-index="index">
        <a *ngIf="item.AttachedFiles" (click)="downloadFile(item.AttachedFiles)" href="javascript:void(0)">{{ item.AttachedFiles }}</a>
      </ng-template>
      </st>
    </div>
  </div>
  
  <div class="drawer-footer">
    <button nz-button [nzType]="'default'" (click)="close()">
      <i nz-icon nzType="stop" nzTheme="outline"></i>
      Đóng
    </button>
  </div>