<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="padding-bottom: 30px; position: relative;">
  <div *ngIf="isViewRecord" class="disabled-form-info"></div>
  <div nz-row class="row-title mt-sm">
    <div nz-col [nzMd]="6">
      <span class="title">Phạm vi tìm kiếm</span>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="BlockId" nzRequired>Căn hộ thuộc căn nhà số</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa chọn Căn nhà!">
          <nz-select nzAllowClear formControlName="BlockId" name="BlockId" id="BlockId" nzPlaceHolder=""
            [nzShowSearch]="true" (ngModelChange)="changeBlock($event)">
            <nz-option *ngFor="let i of blocks; let idx = index" [nzLabel]="i.Address" [nzValue]="i.Id"> </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="16">
      <nz-form-item>
        <nz-form-label [nzSpan]="24">&nbsp;</nz-form-label>
        <nz-form-control [nzSpan]="24" class="form-control-disabled">
          <ng-container *ngIf="block">
            <span>{{ block.FullAddress }}</span>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="row-title mt-lg">
    <div nz-col [nzMd]="6">
      <span class="title">Thông tin căn hộ</span>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="Code" nzRequired>Mã định danh (Mã căn hộ)</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Mã định danh!">
          <input nz-input formControlName="Code" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="Address" nzRequired>Địa chỉ căn hộ</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập Địa chỉ căn hộ!">
          <input nz-input formControlName="Address" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="DateRecord" nzRequired>
          <span>Ngày ghi nhận</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập ngày ghi nhận">
          <input nz-input type="date" max="9999-12-31" formControlName="DateRecord" (change)="selectDay()" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="TypeHouse" nzRequired>Trạng thái căn nhà</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa chọn trạng thái căn nhà!">
          <nz-select nzAllowClear formControlName="TypeHouse" name="TypeHouse" id="TypeHouse" nzPlaceHolder=""
            [nzShowSearch]="true">
            <nz-option *ngFor="let i of TypeHouse | keyvalue; let idx = index" [nzLabel]="i.value" [nzValue]="i.key">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="DateApply" nzRequired>
          <span>Ngày áp dụng</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Chưa nhập ngày áp dụng">
          <input nz-input type="date" max="9999-12-31" formControlName="DateApply" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <ng-container>
    <div nz-row class="row-title mt-lg">
      <div nz-col [nzMd]="6">
        <span class="title">Thông tin diện tích sử dụng của căn hộ</span>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="UseAreaValue">Tổng diện tích sử dụng</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input type="text" currencyMask [options]="{ precision: 2, min: 0 }" nz-input
              formControlName="UseAreaValue" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="UseAreaNote">Ghi chú diện tích sử dụng</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input formControlName="UseAreaNote" placeholder="Ví dụ: (Đã trừ DT lần THĐD là 16.5 m2)" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Trong đó phần nhà -->
    <ng-container *ngIf="block">
      <app-rent-block-detail #rentBlockDetailComponent [data]="validateForm.value.apartmentDetails"
        [levelblocks]="block.levelBlockMaps" (eventEmitter)="changeRentBlockDetail($event)"></app-rent-block-detail>
    </ng-container>

    <div nz-row [nzGutter]="24" class="mt-lg">
      <div nz-col [nzSpan]="5">
        <nz-form-control [nzSpan]="24">
          <label nz-checkbox formControlName="EstablishStateOwnership">
            <span> Xác lập SHNN </span>
          </label>
        </nz-form-control>
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-control [nzSpan]="24">
          <label nz-checkbox formControlName="Dispute">
            <span> Tranh chấp </span>
          </label>
        </nz-form-control>
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-control [nzSpan]="24">
          <label nz-checkbox formControlName="TakeOver">
            <span> Chiếm dụng </span>
          </label>
        </nz-form-control>
      </div>
      <div nz-col [nzSpan]="5">
        <nz-form-control [nzSpan]="24">
          <label nz-checkbox formControlName="Blueprint">
            <span> Bản vẽ </span>
          </label>
        </nz-form-control>
      </div>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="validateForm.value.EstablishStateOwnership">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="CodeEstablishStateOwnership">Số quyết định</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input formControlName="CodeEstablishStateOwnership" placeholder="" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="DateEstablishStateOwnership">
            <span>Ngày ký quyết định</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input type="date" max="9999-12-31" formControlName="DateEstablishStateOwnership" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="validateForm.value.Blueprint">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="NameBlueprint">Tên bản vẽ</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input formControlName="NameBlueprint" placeholder="" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="DateBlueprint">
            <span>Ngày lập bản vẽ</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input type="date" max="9999-12-31" formControlName="DateBlueprint" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="CustomerId">Họ và tên chủ hộ</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-select nzAllowClear formControlName="CustomerId" name="CustomerId" id="CustomerId" nzPlaceHolder=""
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of customers; let idx = index" [nzLabel]="i.FullName" [nzValue]="i.Id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="UsageStatus">Hiện trạng sử dụng</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-select nzAllowClear formControlName="UsageStatus" name="UsageStatus" id="UsageStatus" nzPlaceHolder=""
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of usageStatus_data | keyvalue; let idx = index" [nzLabel]="i.value"
                [nzValue]="i.key"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="UsageStatusNote">Ghi chú hiện trạng sử dụng</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input formControlName="UsageStatusNote" placeholder="Ví dụ: (Đã trừ DT lần THĐD là 16.5 m2)" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="UseAreaNote1">Ghi chú</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input formControlName="UseAreaNote1" placeholder="Ví dụ: (Đã trừ DT lần THĐD là 16.5 m2)" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </ng-container>
</form>

<div class="drawer-footer">
  <button nz-button [nzType]="'default'" (click)="close()">
    <i nz-icon nzType="stop" nzTheme="outline"></i>
    Đóng
  </button>
  <button *ngIf="!isViewRecord" nz-button [nzType]="'primary'" [disabled]="!validateForm.valid || invalidRentBlockDetail || loading"
    (click)="submitForm()">
    <i nz-icon nzType="save" nzTheme="outline"></i>
    Lưu
  </button>
</div>